<nav>
    <ul>
        <li><%= link_to t('.posts_list'), posts_path %></li>
        <li><%= link_to t('.register'), register_path %></li>
        <li><%= link_to t('.login'), login_path %></li>
    </ul>
</nav>